.container {
  display: flex;
  align-items: center;
  padding: 31px 0;
  // background: blue;

  img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 160px;
    top: 30px;
  }

  h1 {
    position: absolute;
    width: 74px;
    height: 21px;
    left: 194px;
    top:31px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
}
